<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>TimeBasedEncrypter</display-name>
		<servlet-name>TimeBasedEncrypter</servlet-name>
		<servlet-class>tofer17.ags.TimeBasedEncrypter</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<description></description>
		<display-name>Comms</display-name>
		<servlet-name>Comms</servlet-name>
		<servlet-class>tofer17.ags.Comms</servlet-class>
		<load-on-startup>2</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet>
		<description></description>
		<display-name>RootApp</display-name>
		<servlet-name>RootApp</servlet-name>
		<servlet-class>tofer17.ags.RootApp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TimeBasedEncrypter</servlet-name>
		<url-pattern>/tbe</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Comms</servlet-name>
		<url-pattern>/com</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RootApp</servlet-name>
		<url-pattern>/app</url-pattern>
	</servlet-mapping>

</web-app>